.navbar{
    background-color: rgb(49, 5, 5);
}


.hero {
    background-color: blue;
    text-align: start;
    background-image: url('images/werhos.jpg');
    background-size: cover;
    background-position: bottom left;
    position:relative;
    padding: 10%;
}

.heroInventory {
    background-color: blue;
    text-align: center;
    background-image: url('images/werhos.jpg');
    background-size: cover;
    background-position: bottom;
}

.inventoryBox {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-control {
    border: 1px solid #555;
}


.herobtn{
    transform: translate(25%, 10%);
    scale: 115%;
    background-color: rgb(33, 117, 225);
}

.herovideo{
    align-items: center;
}

#heroTitle{
    font-size: 44px;
    color:rgb(255, 255, 255);
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
}

#heroDesc{
    font-size: 36px;
    color:rgb(255, 255, 255);
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
}

#pageFooter{
    background-color: rgb(49, 5, 5);
}


.login-box{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box form label {
    display: block;
}

.login-info{
    margin-bottom: 20px;
    margin-top: 10px;
}

.login-box form button {
    margin-top: 40px;
    width: 60%;
    margin-bottom: 10px;
}

.aboutDesc{
    font-size: 22px;
}

#contact{
    background-color:  rgb(49, 5, 5);
    color: white;
}
.contact{
    font-size: 22px;
}

.emailContact{
    color: rgb(124, 176, 211);
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.emailContact2{
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.editBtn{
    margin-right: 16px;
}